.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.message {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button {
  background-color: #0a8;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  margin: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
